<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Checkerboard</title>
    <link rel="stylesheet" type="text/css"
      href= "{{ url_for('static',filename='styles/style.css') }}">
  </head>
  <body>
    <h1 style="background: {{color1}}; color: {{color2}};">
      *** Checkerboard ***
    </h1>
    <table>
      {% for row in range(y): %}
        <tr>
        {% for col in range(x): %}
          {% if row % 2 == 0 %}
            {% if col % 2 == 0 %}
              <td style="background: {{color1}}; padding-bottom: {{(1/x) * 100}}%"</td>
            {% else %}
              <td style="background: {{color2}}; padding-bottom: {{(1/x) * 100}}%"</td>
            {% endif %}
          {% else %}
            {% if col % 2 == 1 %}
              <td style="background: {{color1}}; padding-bottom: {{(1/x) * 100}}%"</td>
            {% else %}
              <td style="background: {{color2}}; padding-bottom: {{(1/x) * 100}}%"</td>
            {% endif %}
          {% endif %}
        {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
